html, body, #root {
   height: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

lexbox-item {
  flex: 1 1 140px;
}

@media (min-width: 640px) {
  .flexbox-item {
    flex: 1 1 200px;
  }
}

@media (min-width: 768px) {

  .flexbox-item {
    flex: 1 1 250px;
  }
}
